// module.styl

// .header

// .header__logo

// .gallery
	
// .gallery__image
	
// .gallery__image--selected
	
// .search
	
// .search__field
	
// .search__field--warning

// .search__field--success
	
// .search__button
	
// .detail

.detail__image
	display block
	float left
	width 45%
	max-width 50%
	margin 20px
	border-bottom 2px solid dark-purple
	border-radius 2px
	box-shadow 0 4px 2px -2px rgba(0,0,0,0.4)
	
.detail__content
	background-color off-white
	width 45%
	max-width 50%
	margin 20px
	padding 20px
	border-bottom 2px solid dark-purple
	border-radius 2px 2px 4px 4px
	box-shadow 0 4px 2px -2px rgba(0,0,0,0.4)