// variables-mixins.styl

// https://color.adobe.com/Dreams-Forever-color-theme-2208291/

/* COLORS */

dark-purple 	= #211426
medium-purple = #413659
medium-blue 	= #656F8C
light-blue 		= #9BBFAB
off-white 		= #F2EFDF

/* FONTS */

// Ubuntu or Open Sans for body text